/target
Cargo.lock
/vga
/riscv-vga-sample
*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
xv6-mkfs/mkfs
xv6-user/usys.S
.gdbinit
*.zip
xv6.out*
.vagrant/
submissions/
ph
barrier
/lab-*.json
.DS_Store
*.dSYM
*.pcap
